

.carousel .carousel-indicators {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content:flex-start;
  padding-left:15px;
  padding-right:15px;
  z-index: 1;
}

.carousel .carousel-indicators li:not(:last-child) {
  margin-right: 50px;
}

#ecomStarterCarousel .carousel-indicators li {
  text-indent: 0px;
  text-align: center;
  color: #fff;
  margin: 0 0px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  line-height: 20px;
  background-color: #d31c5c;
  transition: all 0.25s ease;
}
#ecomStarterCarousel .carousel-indicators .active, .hover {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-color: #337ab7;
}


#ecomStarterCarousel .carousel-control-next{
  background-color:#d31c5c;
  border-radius: 50%;
  border-width: 0;
  //box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  color:#fff;
  font-size: 24px;
  height: 47px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  width: 47px;
  z-index: 3;
  position: absolute;
}

#ecomStarterCarousel .carousel-control-next:hover {
  background-color: #2d3d86;
}

#ecomStarterCarousel .carousel-control-prev{
  background-color: #d31c5c;
  border-radius: 50%;
  border-width: 0;
  //box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  color: #fff;
  font-size: 24px;
  height: 47px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  width: 47px;
  z-index: 3;
  position: absolute;
}
#ecomStarterCarousel .carousel-control-prev:hover {
  background-color: #2d3d86;
}

.box8 .icon,.box8 .title{margin:0;position:absolute}
.box8{box-shadow:0 0 0px rgba(0,0,0,.3);position:relative}
.box8 img{width:auto;height:auto; max-height: 190px; max-width: 200px}
.box8 .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box8 .icon li a,.box8 .title{background:#ef4050;font-size:20px;color:#fff}
.box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;font-size:15px;bottom:20px;left:20px;transition:all .9s ease 0s}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box8:hover .title{bottom:-40px}
.box8 .icon{list-style:none;padding:0;top:42%;left:0;right:0}
.box8 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
.box8 .icon li a:hover{background:#fff;color:#000}
@media only screen and (max-width:990px){.box8{margin-bottom:20px}
}
