
<div class="container" style="min-width: 100%;background-color: #2d3d86; margin-top: 40px;padding-bottom: 40px" >
  <div class="row" style="padding-top: 50px">
    <div class="col-3"></div>
    <div class="col-6">
      <span style="font-size: 15px; color: #ffffff">Alerte info - Inscrivez-vous à notre newsletter pour recevoir les meilleurs offres du moment</span>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-md-6">
      <nav class="navbar navbar-expand-lg">
        <form class="form-inline my-2 my-lg-0 justify-content-end">
          <input class="form-control mr-sm-2" type="search" placeholder="Votre email pour etre informé" style="width: 400px">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Souscrire</button>
        </form>

      </nav>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row" style="margin-top:20px; background-color: #908fb2">
    <div class="col-2"><h6 class="header" style="margin-top: 30%">ALler à:</h6></div>
    <div class="col-5">
      <span> <a routerLink="/ecommerce" style="text-align: right"><img src="assets/images/ecommerceLogo.png">ToutPromo e-commerce</a></span>
    </div>
    <div class="col-5">
      <span> <a routerLink="/elocation" style=" text-align: right"><img src="/assets/images/elocationLogo.png">ToutPromo e-location</a></span>
    </div>
  </div>
  <div class="row" style="background-color: #908fb2">
    <div class="col-2"><h6 class="header">Retrouvez-nous sur:</h6></div>

<div class="col-10" style="text-align:justify; margin-bottom: 20px">
   <a routerLink=""> <i nz-icon nzType="twitter" nzTheme="outline" style="font-size: 20px; margin-left: 30px"></i></a>
   <a routerLink=""> <i nz-icon nzType="skype" nzTheme="outline" style="font-size: 20px; margin-right: 30px; margin-left: 30px"></i></a>
   <a routerLink=""> <i nz-icon nzType="facebook" nzTheme="outline" style="font-size: 20px; margin-right: 30px; margin-left: 30px"></i></a>
   <a routerLink=""> <i nz-icon nzType="youtube" nzTheme="outline" style="font-size: 20px; margin-right: 30px; margin-left: 30px"></i></a>
   <a routerLink=""><i nz-icon nzType="instagram" nzTheme="outline" style="font-size: 20px"></i></a>
</div>
  </div>

  <div class="row justify-content-center" style="padding-top: 20px; color: #ffffff; padding-left: 10px; padding-right: 10px">

    <div class="col-2">
      <div class="row">
        <h6 class="header"> Service Client</h6>
      </div>
      <div class="row">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="" >Aides & FAQ</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Contactez-nous</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Comment Acheter sur ToutPromo</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Agences & frais de livraison</a>
          </li>
        </ul>

      </div>

    </div>

    <div class="col-2">
      <div class="row">
        <h6 class="header"> A propos</h6>
      </div>
      <div class="row">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="">Qui sommes nous?</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Conditions Génerales d'utilisation</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Politique de confidentialité</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Carrières</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Le reseau ToutPromo</a>
          </li>
        </ul>

      </div>

    </div>


    <div class="col-2">
      <div class="row">
        <h6 class="header"> Gagnez de l'argent</h6>
      </div>
      <div class="row">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="">Vendez sur ToutPromo</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Devenez partenaire</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Affiliation:Devenez entrepreneur</a>
          </li>

        </ul>

      </div>

    </div>

    <div class="col-2">
      <div class="row">
        <h6 class="header"> Vendre sur ToutPromo</h6>
      </div>
      <div class="row">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="">Adhesion de fournisseurs</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Centre de formation</a>
          </li>

        </ul>

      </div>

    </div>

    <div class="col-2">
      <div class="row">
        <h6 class="header"> Moyens de payement</h6>
      </div>
      <div class="row">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="">ToutPromo Wallet</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Orange Money</a>
          </li>
          <li class="nav-item">
            <a routerLink="">MTN Mobile Money</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Moov Flooz Money</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Cartes de payement</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Payement en plusieurs fois</a>
          </li>
        </ul>

      </div>

    </div>


    <div class="col-2">
      <div class="row">
        <h6 class="header">Services Commerciaux</h6>
      </div>
      <div class="row">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="">Assurance de commerce</a>
          </li>
          <li class="nav-item">
            <a routerLink="">Identité de l'entreprise</a>
          </li>
          <li>
            <a routerLink="">Services logistiques</a>
          </li>

        </ul>

      </div>

    </div>




  </div>

</div>
