<div id="animation_container" style="background-color:rgba(0, 0, 51, 1.00); width:1366px; height:250px">
  <canvas id="canvas" width="1366" height="250" style="position: absolute; display: block; background-color:rgba(0, 0, 51, 1.00);"></canvas>
  <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:1366px; height:250px; position: absolute; left: 0px; top: 0px; display: block;">
  </div>
</div>
