
<div style="margin-top:30px;padding-left: 2em">

<!--<owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let prod of produits">
      <ng-template carouselSlide  id="{{prod.idProd}}">
        <img [src]="prod.lienImage" [alt]="prod.descripProd" [title]="prod.designProd" style="height:380px">
      </ng-template>
    </ng-container>

</owl-carousel-o>
-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" style="z-index: 1">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active" >

        <img src="assets/images/news/news1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="assets/images/news/news2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/news/news3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="assets/images/news/news4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
