


<div>

<div class="row">

  <div class="col-md-6 col-sm-12"> <app-main-carousel></app-main-carousel></div>
  <div class="col-md-3 col-sm-12"> <app-left-menu></app-left-menu></div>
  <div class="col-md-3 col-sm-12"><app-right-menu></app-right-menu></div>

</div>

<div class="row" style=" padding-top:2em; padding-bottom: 2em">

  <app-achat-produit></app-achat-produit>

</div>


<div class="row" style="padding-top:0.5em; padding-bottom: 2em">
  <app-vote-prix></app-vote-prix>
</div>

<div class="row" style=" padding-top:0.5em; padding-bottom: 3em">
  <app-selection-produit></app-selection-produit>
</div>

</div>
