

.row .col nz-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.carousel .carousel-indicators {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content:flex-start;
  padding-left:15px;
  padding-right:15px;
  z-index: 1;
}

.carousel .carousel-indicators li:not(:last-child) {
  margin-right: 50px;
}

#votecarousel .carousel-indicators li {
  text-indent: 0px;
  text-align: center;
  color: #fff;
  margin: 0 0px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  line-height: 20px;
  background-color: #d31c5c;
  transition: all 0.25s ease;
}
#votecarousel .carousel-indicators .active, .hover {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-color: #337ab7;
}


#votecarousel .carousel-control-next{
  background-color:#d31c5c;
  border-radius: 50%;
  border-width: 0;
  //box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  color:#fff;
  font-size: 24px;
  height: 47px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  width: 47px;
  z-index: 3;
  position: absolute;
}

#votecarousel .carousel-control-prev{
  background-color: #d31c5c;
  border-radius: 50%;
  border-width: 0;
  //box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  color: #fff;
  font-size: 24px;
  height: 47px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  width: 47px;
  z-index: 3;
  position: absolute;
}




.achatCard{
  max-width:107%;
  height: auto;
  margin-right: 0;
  margin-left:0;
}
.achatTitle{
  text-align: center;
  background-color: orangered;
  color: white
}


.box19{text-align:center;position:relative}
.box19 .box-content{width:100%;height:100%;background:0 0;padding-top:25%;position:absolute;top:0;left:0;transition:all .3s ease 0s}
.box19 .icon,.box19 .title{transition:all .2s ease 0s}
.box19:hover .box-content{background:rgba(0,0,0,.5)}
.box19 img{max-width:240px;height:240px}
.box19 .title{font-size:24px;color:#fff;transform:scale(0)}
.box19:hover .title{transform:scale(1)}
.box19 .icon{list-style:none;padding:0;margin:0;opacity:0;border-radius:50%;font-size:30px;color:#fff}
.box19:hover .icon{opacity:1}
.box19 .icon li{display:inline-block}
.box19 .icon li:first-child a,.box19 .icon li:second-child a,.box19 .icon li:third-child a,.box19 .icon li:last-child a{display:block;width:50px;height:50px;line-height:50px;font-size:24px;color:#fff;border:1px solid #fff;position:relative}
.box19 .icon li a{top:-150px}
.box19:hover .icon li a{top:0}
.box19:hover .icon li a:hover{background:white;border-color:#a46789}
.box19 .icon li:first-child a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) 0s}
.box19 .icon li:second-child a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) .1s}
.box19 .icon li:third-child a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) .2s}
.box19 .icon li:last-child a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) .3s}
@media only screen and (max-width:990px){.box19{margin-bottom:30px}
}
@media only screen and (max-width:360px){.box19 .box-content{padding-top:20%}
}


/*********************** Demo - 16 *******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#6d3795;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}

.img_section figure img {
  transform: scale(1);
  transition: .3s ease-in-out;
  height: 300px;
  width: 200px;
}
.img_section figure:hover img {
  transform: scale(1.3);
}
.card{
  border: 0px;
}
.solde{
  display:table-cell;
  vertical-align:middle;
  padding:5px;
  width:70px;
  height:15px;
  background:white;
  color:deeppink;
  text-align:center;
  box-shadow: 0px 0px 3px black;
  border-radius : 50%/10% ;
  font-weight: bold
}
.card:hover{
  border: 1px solid;
  border-color:violet;
}


.bordure{
  display:table-cell;
  vertical-align:middle;
  padding:2px;
  width:200px;
  height:150px;
  background:white;

  text-align:center;
  box-shadow: 0px 0px 3px black;
  border: 1px solid
}
