<div  style="margin-top: 30px">


  <p-card header="Shap-Shap" subheader="Promo à gogo!!!"  styleClass="ui-card-shadow">

      <div class="card" style="margin-right: 0px; margin-top: 10px;margin-left: 10px; border:none">
        <div class="card-header" style="background-color:#860432; color: ivory; font-size: 13px; height: 15px;margin-top: 10px; padding-bottom: 2em; text-align: center">Live Promo</div>
        <div class="card-body" style="font-size: 14px; text-align: center; border:none">


          <p-galleria [images]="items" panelWidth="200" panelHeight="150" [showCaption]="true"></p-galleria>


        </div>
      </div>
  </p-card>


</div>
