<nav class="navbar" style="padding-right: 40px;">

  <app-welcome-animate></app-welcome-animate>

</nav>

<div class="container-fluid align-content-center" style="margin-top: 20px">
  <app-ecommerce-starter></app-ecommerce-starter>

</div>

<div class="container-fluid align-content-center" style="margin-top: 50px">
  <app-elocation-starter></app-elocation-starter>
</div>

