/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom:1rem;
}

.item{
  color: #ffffff !important;
  font-weight: bold;
  padding: 14px 16px;
}
.navbar {
  background-color: #860432;
  border:1px solid #efd807;
}
.dropdown-menu {
  border:none;
  background-color:#ffffff!important;
  border: 1px solid rgba(0,0,0,.15);
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top:0px;
    padding-bottom:0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding:.5rem .5rem;
    margin:0 .25rem;

  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position:static;

  }

  .navbar .dropdown-menu {
    width:auto;
    left:0;
    right:0;
    /*  height of nav-item  */
    top:45px;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block!important;
  }


}

.navbar a:hover, .dropdown:hover .dropdown-toggle{
  background-color: #efd807;
}

.dropdown-menu .header{
  background:#efd807 ;
  padding: 16px;
  color: #ffffff;
}


