<div  style="margin-top: 30px;padding-right: 2em">

<p-card header="La mine d'or" subheader="La boîte magique.."  styleClass="ui-card-shadow">
  <p-header>
    <p>
      animatiion ici...
    ************************
    ************************
    ************************
    ************************
    ***********************
    **********************
    </p>
  </p-header>
  <div>Avec un coeur sincère et plein d'amour nous vous offrons un panier en or, veillez cliquer sur le bouton ci-dessous pour decouvrir!!!</div>
  <p-footer>
    <button class="btn btn-outline-danger btn-sm monBouton" style="margin-top: 7px">Decouvrir</button>

  </p-footer>
</p-card>


</div>
