.menuSize{
  margin-left: 0px;
  text-align: left;
}

.monBouton{
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  box-shadow:0px 0px 10px #860432;
  animation-name: cameleon;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  -webkit-animation-name:blank;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name:blank;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;

  -o-animation-name: blank;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;

  -ms-animation-name: blank;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
}


@keyframes blank {
  0%{box-shadow:0px 0px 10px #860432;}
  50%{box-shadow:0px 0px 0px #860432;}
  100%{box-shadow:0px 0px 10px #860432;}
}

@-webkit-keyframes blank {
  0%{box-shadow:0px 0px 10px #860432;}
  50%{box-shadow:0px 0px 0px #860432;}
  100%{box-shadow:0px 0px 10px #860432;}
}

@-moz-keyframes blank {
  0%{box-shadow:0px 0px 10px #860432;}
  50%{box-shadow:0px 0px 0px #860432;}
  100%{box-shadow:0px 0px 10px #860432;}
}

@-o-keyframes blank {
  0%{box-shadow:0px 0px 10px #860432;}
  50%{box-shadow:0px 0px 0px #860432;}
  100%{box-shadow:0px 0px 10px #860432;}
}

@-ms-keyframes blank {
  0%{box-shadow:0px 0px 10px #860432;}
  50%{box-shadow:0px 0px 0px #860432;}
  100%{box-shadow:0px 0px 10px #860432;}
}
