<nav class="navbar navbar-dark bg-dark" style="max-height: 30px; padding-top: 0em">
  <a class="navbar-brand" href="#" style="font-size: small;margin-top: 0px; padding-bottom:25px; color: #2d3d86">toutpromo@gmail.com</a>
  <ul class="nav justify-content-end" style="font-size: small;margin-top: 0px; padding-bottom: 25px; color:#0000ff">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="phone" nzTheme="twotone"></i>
        &nbsp;+225 08525827
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="facebook" nzTheme="outline" style="color: #0000ff "></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="message" nzTheme="outline" style="color:#0000ff"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="twitter" nzTheme="outline" style="color:#0000ff"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="instagram" nzTheme="outline" style=":#0000ff"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Affiliation
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        FAQ
      </a>
    </li>
  </ul>
</nav>
