

.carousel .carousel-indicators {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content:flex-start;
  padding-left:15px;
  padding-right:15px;
  z-index: 1;
}

.carousel .carousel-indicators li:not(:last-child) {
  margin-right: 50px;
}

#elocStarterCarousel .carousel-indicators li {
  text-indent: 0px;
  text-align: center;
  color: #fff;
  margin: 0 0px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  line-height: 20px;
  background-color: #d31c5c;
  transition: all 0.25s ease;
}
#elocStarterCarousel .carousel-indicators .active, .hover {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-color: #337ab7;
}


#elocStarterCarousel .carousel-control-next{
  background-color:#d31c5c;
  border-radius: 50%;
  border-width: 0;
  //box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  color:#fff;
  font-size: 24px;
  height: 47px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  width: 47px;
  z-index: 3;
  position: absolute;
}

#elocStarterCarousel .carousel-control-next:hover {
  background-color: #2d3d86;
}

#elocStarterCarousel .carousel-control-prev{
  background-color: #d31c5c;
  border-radius: 50%;
  border-width: 0;
  //box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  color: #fff;
  font-size: 24px;
  height: 47px;
  line-height: 1;
  padding: 11px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  width: 47px;
  z-index: 3;
  position: absolute;
}

#elocStarterCarousel .carousel-control-prev:hover {
  background-color: #2d3d86;
}


.box8 .icon,.box8 .title{margin:0;position:absolute}
.box8{box-shadow:0 0 0px rgba(0,0,0,.3);position:relative}
.box8 img{width:auto;height:auto; max-height: 190px; max-width: 200px}
.box8 .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box8 .icon li a,.box8 .title{background:#ef4050;font-size:20px;color:#fff}
.box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;font-size:15px;bottom:20px;left:20px;transition:all .9s ease 0s}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box8:hover .title{bottom:-40px}
.box8 .icon{list-style:none;padding:0;top:42%;left:0;right:0}
.box8 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
.box8 .icon li a:hover{background:#fff;color:#000}
@media only screen and (max-width:990px){.box8{margin-bottom:20px}
}

.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:auto;height:190px; max-width: 200px}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:15px;font-weight:600;text-transform:uppercase;margin:0px; color: #860432; background-color: #ffffff}
.box16 .post{display:block;padding:0px 0;font-size:15px; background-color:#ffffff; color: #2d3d86; font-weight: bold}
.box16 .social li a,.box16 .icon li a{border-radius:10%;font-size:11px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#860432;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}
