<p-panel [style]="{'height':'auto'}">
  <p-header>
    <div class="ui-helper-clearfix">

      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px"><span style="color: #860432">ToutPromo</span> E-Location</span>
    </div>
  </p-header>

  <div id="elocStarterCarousel" class="carousel slide">
    <div class="container position-relative">
      <ol class="carousel-indicators" style="text-align:center" >

        <li data-target="#achatcarousel" *ngFor="let li of elocStarterProds;let i=index" attr.data-slide-to="{{i}}" [ngClass]="{'active' : i == 0}" style="text-align:center"> {{i}}</li>

      </ol>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item {{ i == 0 ? 'active' : '' }}"  *ngFor="let prod of elocStarterProds;let i=index" >

        <div class="row" style="text-align: center">
          <div class="col" *ngFor="let slider of prod" style="padding: 10px;">

            <div class="box16" >
              <img src="{{slider.lienImage}}">
              <div class="box-content">
             <!--   <ul class="icon">
                  <li><button class="btn btn-sm btn-outline-warning ">Acheter</button> </li>
                  <li style="margin-top: 5px"><button class="btn btn-sm btn-outline-warning">Detail</button> </li>
                </ul>-->
                <h3 class="title">{{slider.designProd}}</h3>
                <span class="post">{{slider.prixProd}} &nbsp;F CFA</span>
                <ul class="social">
                  <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                  <li><a href="#" class="btn btn-sm btn-outline-warning">Louer</a></li>
                  <li><a href="#" class="btn btn-sm btn-outline-warning">Detail</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev"  href="#elocStarterCarousel" role="button" data-slide="prev" style="margin-right: 2em;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a  class="carousel-control-next"  href="#elocStarterCarousel" role="button" data-slide="next" style="margin-left: 2em">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

  <ul class="nav nav-pills">
    <li class="nav-item"></li>
    <li class="nav-item" style="margin-top: 20px; margin-left: 0px"><img src="assets/images/finger-pointer-icon.png"><a routerLink="/elocation">Acceder au site e-location</a></li>
  </ul>

</p-panel>
