
<nav class="navbar navbar-dark bg-dark" style="max-height: 30px; padding-top: 0em">
  <a class="navbar-brand" href="#" style="font-size: small;margin-top: 0px; padding-bottom:25px; color: blue">toutpromo@gmail.com</a>
  <ul class="nav justify-content-end" style="font-size: small;margin-top: 0px; padding-bottom: 25px; color:#0000ff">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="phone" nzTheme="twotone"></i>
        &nbsp;+225 08525827
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="facebook" nzTheme="outline" style="color: #0000ff "></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="message" nzTheme="outline" style="color:#0000ff"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="twitter" nzTheme="outline" style="color:#0000ff"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i nz-icon nzType="instagram" nzTheme="outline" style=":#0000ff"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Affiliation
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
       FAQ
      </a>
    </li>
  </ul>
</nav>

<nz-affix>
  <div>
    <nav class="navbar navbar-expand" style="background-color: ivory;height: 45px;">
    <a class="navbar-brand" routerLink="/demarrer">
      <span style="font-size: 12px; color: #2d3d86; font-weight: bold">Demarrer</span>
      <img src="../assets/images/ecommerceLogo.png" style="margin-top: 2em">
    </a>



      <ul class="nav justify-content-end">
        <li class="nav-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01" style="height: 35px;font-size: 15px;">Genre</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" style="max-width: 152px; height: 35px;font-size: 15px; cursor: pointer">
              <option selected>Tous les genres...</option>
              <option value="1">Homme</option>
              <option value="2">Femme</option>
              <option value="3">Enfant</option>
            </select>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0" style="margin-right: 30px; margin-left: 20px">

            <div class="input-group">
              <input type="text" class="form-control" id="chercher" placeholder="Chercher ici..." style="max-height: 35px; width:300px">
              <div class="input-group-prepend" style="max-height: 35px;">
                <div class="input-group-text" style="cursor: pointer"><i class="pi pi-search"></i></div>
              </div>

            </div>

          </form>
        </li>
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" href="#">
            <nz-badge [nzCount]="0">
              <i nz-icon [type]="'heart'" style="font-size: 25px; color: #860432;"></i>
            </nz-badge>
            Favoris
          </a>
        </li>
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" routerLink="/ecommerce/panier">
            <nz-badge [nzCount]="nbItem">
              <i nz-icon [type]="'shopping-cart'" style="font-size: 25px; color: #860432;"></i>
            </nz-badge>
            Panier
          </a>

        </li>



        <li class="nav-item " style="margin-right: 5px;">

            <a class="nav-link" routerLink="#" nz-dropdown [nzDropdownMenu]="menu" style="padding-top: 0.5em">
              <nz-badge [nzCount]="0">
                <i nz-icon [type]="'user'" style="font-size: 25px; color: #860432;"></i>
              </nz-badge>
              Compte
              <i nz-icon nzType="down"></i>
            </a>
        </li>
      </ul>

    </nav>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item ><i nz-icon nzType="dashboard" nzTheme="twotone"></i>Tableau de bord</li>
        <li nz-menu-item ><i nz-icon nzType="gift" nzTheme="twotone"></i>Mes promos</li>
        <li nz-menu-item ><i nz-icon nzType="mail" nzTheme="twotone"></i>Mes messages</li>
        <li nz-menu-item ><i nz-icon nzType="bell" nzTheme="twotone"></i>Notification</li>
        <li nz-menu-item ><i nz-icon nzType="wallet" nzTheme="outline"></i>Portefueille</li>
        <li nz-menu-item ><i nz-icon nzType="setting" nzTheme="twotone"></i>Mes parametres</li>
        <li nz-menu-item ><i nz-icon nzType="idcard" nzTheme="twotone"></i>Connect/deconnect</li>
      </ul>
    </nz-dropdown-menu>
  </div>

<app-menu-bar></app-menu-bar>
</nz-affix>


<router-outlet></router-outlet>


<div>
  <app-footer></app-footer>
</div>

