/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body{
  margin: 0px;
}
/*
body{
  background-color: #d9bfc8;
  margin: 0;
}
*/
