<div>
  <nav class="navbar navbar-expand" style="background-color: ivory; height: 45px;">
    <a class="navbar-brand" routerLink="/demarrer"><span style="font-size: 12px; color: #2d3d86; font-weight: bold">Demarrer</span> <img src="../assets/images/elocationLogo.png" style="padding-top:1.5em;padding-bottom:1em"> </a>

    <div class="navbar-collapse collapse" style="margin-top:1em; margin-bottom:1em;">
      <ul class="navbar-nav pt-1 justity-content-end">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0" style="margin-right: 20px; margin-left: 20px">

            <div class="input-group">
              <input type="text" class="form-control" id="chercher" placeholder="Chercher ici..." style="max-height: 35px; width:auto; max-width:300px">
              <div class="input-group-prepend" style="max-height: 35px;">
                <div class="input-group-text" style="cursor: pointer"><i class="pi pi-search"></i></div>
              </div>

            </div>

          </form>
        </li>
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" href="#">
            <nz-badge [nzCount]="0">
              <i nz-icon [type]="'heart'" style="font-size: 25px; color: #860432;"></i>
            </nz-badge>
            Favoris
          </a>
        </li>
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" routerLink="/ecommerce/panier">
            <nz-badge [nzCount]="nbItem">
              <i nz-icon [type]="'wallet'" style="font-size: 25px; color: #860432;"></i>
            </nz-badge>
            Reserve
          </a>

        </li>



        <li class="nav-item" style="margin-right: 5px;">

          <a class="nav-link" routerLink="#" nz-dropdown [nzDropdownMenu]="menu" style="padding-top: 0.5em">
            <nz-badge [nzCount]="0">
              <i nz-icon [type]="'user'" style="font-size: 25px; color: #860432;"></i>
            </nz-badge>
            Compte
            <i nz-icon nzType="down"></i>
          </a>
        </li>
        <li class="nav-item">
          <button routerLink="#" class="btn btn-outline-warning btn-sm myButton" style=" font-size: 15px; font-weight: bold; margin-right: 0%; margin-left: 100px; margin-top: 10px ">Placer un ordre de location</button>
        </li>
      </ul>
    </div>
  </nav>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item ><i nz-icon nzType="dashboard" nzTheme="twotone"></i>Tableau de bord</li>
      <li nz-menu-item ><i nz-icon nzType="gift" nzTheme="twotone"></i>Mes promos</li>
      <li nz-menu-item ><i nz-icon nzType="mail" nzTheme="twotone"></i>Mes messages</li>
      <li nz-menu-item ><i nz-icon nzType="bell" nzTheme="twotone"></i>Notification</li>
      <li nz-menu-item ><i nz-icon nzType="wallet" nzTheme="outline"></i>Notification</li>
      <li nz-menu-item ><i nz-icon nzType="setting" nzTheme="twotone"></i>Mes parametres</li>
      <li nz-menu-item ><i nz-icon nzType="idcard" nzTheme="twotone"></i>Connect/deconnect</li>
    </ul>
  </nz-dropdown-menu>
</div>

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/logoelocation.png" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav " >
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>-->


<!--
<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="http://via.placeholder.com/200x80" class="logo"></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
-->

<!--
<nav class="navbar navbar-expand-lg navbar-light" style="min-height: 50px">
  <a routerLink="#" class="navbar-brand">
    <img src="../assets/images/logoelocation.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding-left: 10%">
      <li class="nav-item">
        <a class="nav-link item" href="#">Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <span class="text-uppercase text-white header">Toutes les categories</span>
            </div>
            <div class="row">
              <div class="col-md-4">

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <a href="">
                  <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                </a>
                <p class="text-white">Short image call to action</p>

              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
            </div>
          </div>
          &lt;!&ndash;  /.container  &ndash;&gt;


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accessoires
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <span class="text-uppercase text-white header">Tous les accessoires</span>
            </div>
            <div class="row">
              <div class="col-md-4">

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <a href="">
                  <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                </a>
                <p class="text-white">Short image call to action</p>

              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
            </div>
          </div>
          &lt;!&ndash;  /.container  &ndash;&gt;


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nos boutiques
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <span class="text-uppercase text-white header">En boutique</span>
            </div>
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;

              &lt;!&ndash; /.col-md-4  &ndash;&gt;
            </div>
          </div>
          &lt;!&ndash;  /.container  &ndash;&gt;


        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bientôt dans e-commerce
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <span class="text-uppercase text-white header">Projetez vous dans l'avenir</span>
            </div>
            <div class="row">
              <div class="col-md-4">

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <a href="">
                  <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                </a>
                <p class="text-white">Short image call to action</p>

              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Edition
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <span class="text-uppercase text-white header">Edition des fichiers</span>
            </div>
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Produit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="openProduitModal()" >Nouveau</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Consulter</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Espace</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="openEspaceModal()">Nouveau</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Consulter</a>
                  </li>
                </ul>
              </div>
              &lt;!&ndash; /.col-md-4  &ndash;&gt;

              &lt;!&ndash; /.col-md-4  &ndash;&gt;
            </div>
          </div>
          &lt;!&ndash;  /.container  &ndash;&gt;


        </div>
      </li>

    </ul>
  </div>

</nav>-->
