<div class="container-fluid" style="margin-left: 10px">
<p-panel [toggleable]="true" [style]="{ 'width':'97vw','height':'auto'}" >
  <p-header>
    <span>
    <b class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:2px; color: #860432; font-weight: bolder">Espace promo</b>

    <ul nz-menu [nzMode]="'horizontal'" style="margin-bottom: 20px">
      <li nz-menu-item><i nz-icon type="file"></i> Accueil</li>
      <li nz-menu-item (click)="openProduitModal()"><i nz-icon type="file"></i> Nauveau</li>
      <li nz-menu-item><i nz-icon type="mail"></i> Consulter tous les articles</li>
      <li nz-submenu>
        <span title><i nz-icon type="setting"></i>Tendances</span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
              <li nz-submenu>
                <span title>Sub Menu</span>
                <ul>
                  <li nz-menu-item nzDisabled>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled>
                <span title>Disabled Sub Menu</span>
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-item class="float-right"><i nz-icon nzType="redo" nzTheme="outline"  style="font-size: 20px; color: #860432"></i></li>
      <li nz nz-menu-item class="float-right" style="padding-left: 0px"><nz-badge [nzCount]="3" style="color: #860432; z-index: 1"><i nz-icon nzType="bell" nzTheme="outline"  style="font-size: 20px"></i></nz-badge></li>


    </ul>
      </span>
  </p-header>



  <div id="achatcarousel" class="carousel slide">
    <div class="container position-relative">
    <ol class="carousel-indicators" style="text-align:center" >

      <li data-target="#achatcarousel" *ngFor="let li of promoProds;let i=index" attr.data-slide-to="{{i}}" [ngClass]="{'active' : i == 0}" style="text-align:center"> {{i}}</li>

    </ol>
    </div>

        <div class="carousel-inner">

          <div class="carousel-item {{ i == 0 ? 'active' : '' }}"  *ngFor="let prod of promoProds;let i=index" >

          <div class="row" style="text-align: center">
            <div class="col" *ngFor="let slider of prod" style="padding: 10px">

              <nz-card [nzCover]="coverTemplate" [nzActions]="[actionSell, actionLike, actionEdit]" [nzHoverable]="true"
                       style="width:auto; max-width:240px; border: none ">
                <nz-card-meta
                  nzTitle="{{slider.prixProd}}"
                  nzDescription="{{slider.designProd}}"
                  [nzAvatar]="avatarTemplate"></nz-card-meta>
              </nz-card>
              <ng-template #avatarTemplate>
                <nz-avatar [nzSrc]="slider['']"></nz-avatar>
              </ng-template>
              <ng-template #coverTemplate>
                <div class="box19">
                  <img [src]="slider['lienImage']"  alt="..." class="img-fluid">
                  <div class="box-content">
                    <ul class="icon">
                      <li><a href="#"><i nz-icon nzType="facebook" nzTheme="outline"></i></a></li>
                      <li><a href="#"><i nz-icon nzType="twitter" nzTheme="outline"></i></a></li>
                      <li><a href="#"><i nz-icon nzType="instagram" nzTheme="outline"></i></a></li>
                      <li><a href="#"><i nz-icon nzType="google-plus" nzTheme="outline"></i></a></li>
                    </ul>
                    <h3 class="title">
                      <button class="btn btn-outline-primary">Détail</button>
                      <button class="btn btn-outline-primary">Acheter</button>
                    </h3>
                  </div>
                </div>
              </ng-template>

              <ng-template #actionSell>
                <button nz-button> <i nz-icon type="shopping-cart" style="color:#eb2f96"></i></button>
              </ng-template>
              <ng-template #actionLike>
                <button nz-button><i nz-icon type="heart" style="color: #eb2f96"></i></button>
              </ng-template>
              <ng-template #actionEdit>
                <button nz-button><i nz-icon type="info-circle" style="color:#eb2f96"></i></button>
              </ng-template>
            </div>
          </div>
          </div>
        </div>


    <a class="carousel-control-prev before d-none"  href="#achatcarousel" role="button" data-slide="prev" style="margin-right: 2em;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a  class="carousel-control-next after d-none"  href="#achatcarousel" role="button" data-slide="next" style="margin-left: 2em">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

</p-panel>

</div>
