
<nav class="navbar" id="mynavbar">
  <a class="navbar-brand" href="#"><img src="assets/images/starterlogo.png"></a>
  <form class="form-inline my-2 my-lg-0" style="margin-right: 30px; margin-left: 20px">

    <div class="input-group">
      <input type="text" class="form-control" id="chercher" placeholder="Chercher dans ToutPromo..." style="max-height: 35px; min-width:600px; border-color: #2d3d86">
      <div class="input-group-prepend" style="max-height: 35px;">
        <div class="input-group-text" style="cursor: pointer; background-color: #860432"><i class="pi pi-search" style="color: #ffffff"></i></div>
      </div>

    </div>

  </form>
  <ul class="nav justify-content-end">
    <li class="nav-item" style="margin-right: 20px;">
      <a class="nav-link" href="#" nz-dropdown [nzDropdownMenu]="dashboardMenu" >
        <nz-badge [nzCount]="0">
          <i nz-icon [type]="'dashboard'" style="font-size: 25px; color: #860432;"></i>
        </nz-badge>
        <span style="font-weight: bolder; color: #2d3d86;">
        Tableau de bord<i nz-icon nzType="down"></i>
        </span>
      </a>
    </li>
    <li class="nav-item " style="margin-right: 5px;">

      <a class="nav-link" routerLink="#" nz-dropdown [nzDropdownMenu]="compteMenu" style="padding-top: 0.5em">
        <nz-badge [nzCount]="0">
          <i nz-icon [type]="'user'" style="font-size: 25px; color: #860432;font-weight: bold"></i>
        </nz-badge>
        <span style="color: #2d3d86; font-weight: bolder">Compte
        <i nz-icon nzType="down"></i>
        </span>
      </a>
    </li>
  </ul>
  <nz-dropdown-menu #compteMenu="nzDropdownMenu">
    <ul nz-menu style="text-align: center">
      <li nz-menu-item ><button class="btn btn-warning" routerLink="/demarrer/login">Se Connecter</button></li>
      <li nz-menu-item >Ou</li>
      <li nz-menu-item style="color: #bea041" routerLink="/demarrer/signup">Creer un Compte</li>
      <hr/>
      <li nz-menu-item ><i nz-icon nzType="setting" nzTheme="twotone"></i>parametres de Compte</li>
    </ul>
  </nz-dropdown-menu>

  <nz-dropdown-menu #dashboardMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item ><i nz-icon nzType="wallet" nzTheme="outline" style="color: #2d3d86"></i>Portefeuille</li>
      <li nz-menu-item ><i nz-icon nzType="gift" nzTheme="twotone"></i>Mes promos</li>
      <li nz-menu-item ><i nz-icon nzType="mail" nzTheme="twotone"></i>Mes messages</li>
      <li nz-menu-item ><i nz-icon nzType="bell" nzTheme="twotone"></i>Notification</li>
    </ul>
  </nz-dropdown-menu>

</nav>
<router-outlet></router-outlet>

<div>
  <app-footer></app-footer>
</div>
